/**************  Baseline definitions, resets   **************/
:host {
  width: 100%;
  display: block;
}
section {
  width: 100%;
  margin-left: 1em;
  margin-right: 1em
}
@supports not selector(:focus-visible) {
*:focus {
  outline: 2px black solid;
  border: 2px white solid;
  box-shadow: none;
  overflow: visible;
}

}
@supports selector(:focus-visible) {
// we can safely remove the user agent focus if focus-visible is supported
*:focus {
  outline: none;
  border: none;
}

*:focus-visible {
  outline: 2px black solid;
  border: 2px white solid;
  box-shadow: none;
  overflow: visible;
}

}

button {
  // reset
  cursor: pointer;
  background: none;
  outline: none;
  border: none;
}

.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}


/**************  Carousel Customizations  **************/

.carousel-body {
  display: inline-flex;
  width: 100%;
  min-width: fit-content;

  & > button {
    width: 50px;
    min-height: 110px;
    padding: 10px 30px;
    margin-left: .5em;
    margin-right: .5em;
    background-image: url("build/assets/l-chev.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
    &:first-child {
      transform: rotate(180deg);
    }
    &:nth-child(2) {
      order:100;
    }
  }
}

ol.pagination-nav {
  display: block;
  width: 100%;
  text-align: center;

  & > li {
    display: inline-block;
    text-align: center;
    margin: auto;

    & > button {

      cursor: pointer;

      & > img {
        display: block;
        size: auto;
        width: fit-content;
        height: auto;

      }
    }

    &.active * {
      fill: black;
    }
  }

  li.pagination-item {

  }

}

ol {
  display: inline-flex;
  list-style: none;
  margin-top: auto;
  margin-bottom: auto;


  &.carousel-wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding: .5em .75em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-content: space-between;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: flex-start;
    & > li {
      height: 100%;
      //padding: 2em;
      display: none;

      margin-left: auto;
      margin-right: auto;
      margin-top: auto;
      margin-bottom: auto;
      align-items: start;
      min-width: 50px;

      &.active {
        display: block;

        outline: 2px solid purple;
        border: 2px solid purple;
      }
    }

  }

}

.l-slide {
  // for debugging purposes
  background: blue;
  left: -100vw;

  &.active {
    left: auto;
    position: relative;
    animation: slidel 0.5s forwards;


  }
}

.r-slide {
  // for debugging purposes
  background: red;

  right: -100vw;

  &.active {

    right: auto;
    position: relative;
    -webkit-animation: slide-r 1s forwards;
    animation: slide-r 0.5s forwards;
  }
}

@-webkit-keyframes slide-r {
  0% {
    right: -80vw;
    opacity: 0;
    display: none;
  }
  50% {
    opacity: 70%;
  }
  100% {
    right: 0;
    opacity: 100%;
    display: block
  }
}

@keyframes slide-r {
  0% {
    right: -80vw;
    opacity: 0;
    display: none;
  }
  50% {
    opacity: 70%;
  }
  100% {
    right: 0;
    opacity: 100%;
    display: block
  }
}

@-webkit-keyframes slidel {
  0% {
    left: -80vw;
    opacity: 0;
    display: none;
  }
  50% {
    opacity: 70%;
  }
  100% {
    left: 0;
    opacity: 100%;
    display: block
  }
}

@keyframes slidel {
  0% {
    left: -80vw;
    opacity: 0;
    display: none;
  }
  50% {
    opacity: 70%;
  }
  100% {
    left: 0;
    opacity: 100%;
    display: block
  }
}

slot {
  display: none;
}
